<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <script src="/js/jquery.js"></script>
    <script src="/js/login.js"></script>

</head>
<body>
<form>
    <div>
        <label>Email</label>
        <div>
            <input type="text" placeholder="Please input email" id="loginEmail">
        </div>
    </div>
    <div>
        <label>Password</label>
        <div>
            <input type="password" placeholder="Please input password" id="loginPassword">
        </div>
    </div>
    <div>
        <button
                type="button" onclick="login()">Login
        </button>
    </div>
</form>
<div>
    <button
            type="button" onclick="window.location.href='register'">Register
    </button>
</div>
</body>
</html>